/* common styles */
p{
    font-family: Poppins;
    font-size: 15px;
}
h1{
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 25px;
}
h3{
    font-family: Poppins;
    font-weight: 600;
    font-size: 28px;
}
h4{
    font-family: Poppins;
    font-weight: 500;
    font-size: 28px;
}
h5{
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
}
body{
    margin: 0;
}

/* header styles */

header{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.header-container{
    width: 1200px;
}
/* title and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
nav>h2>i{
    padding-left: 5px;
}
/* headline and camera styles */
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headline-text{
    width: 582px;
}
.headline-text>p{
    font-weight: 700;
    position: relative;
    top: -20px;
}
.button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    padding: 10px 25px;
    border-radius: 50px;
    position: relative;
    top: 30px;
}
.button:hover{
    font-size: 18px;
    transition: 0.1s ease-out;
}
.headline-image{
    width: 475px;
    display: flex;
    align-items: center;
}
.camera{
    position: relative;
    right: 450px;
}

/* main section styles */

main{
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1047px;
}
/* logo styles */
.logo-container{
    margin-bottom: 100px;
}
.logos{
    display: flex;
    justify-content: space-around;
}
/* product card styles */
.main-container>h3{
    text-align: center;
}
.populer-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.card{
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.100);
    padding: 15px;
}
.details>h4{
    position: relative;
    top: -20px;
}
.details>h5{
    position: relative;
    top: -45px;
}
.details>p{
    position: relative;
    top: -70px;
}
.details>p>i{
    color: #FB8200;
}

.see-more{
    display: flex;
    justify-content: end;
}
.see-more>p{
    font-weight: 700;
    color: #E02C6D;
}

/* optional section styles */

.optional{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.optional-container{
    width: 1200px;
}
.cert{
    display: flex;
    justify-content: space-between;
}
.cert>img{
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.300);
}
.cert-info{
    width: 610px;
}


/* footer styles */

footer{
    width: 100%;
    background-color: #0a0826;
    padding: 50px 0;
}
.footer-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container #cr-line1{
    position: relative;
    bottom: 30px;
}
.footer-container #cr-line2{
    position: relative;
    bottom: 50px;
}
.icons{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
}
.icons>i{
    font-size: 25px;
}
.icons>i:hover{
    font-size: 30px;
    transition: 0.1s ease-out;
}

/* media queary */

/* mobile */
@media only screen and (max-width:688px) {
    header, main, section{
        padding: 25px;
    }
    header{
        margin-bottom: 0;
    }
    .header-container, .headline-text, .optional-container, .cert-info{
        width: 100%;
    }
    .headline{
        flex-direction: column;
    }
    .headline-image{
        transform: scale(0.8);
    }
    .logo-container{
        display: none;
    }

    .populer-items{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .cert{
        flex-direction: column;
    }

}

/* tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    header, main, section{
        padding: 25px;
    }
    header{
        margin-bottom: 0;
    }
    .header-container, .headline-text, .optional-container, .cert-info{
        width: 100%;
    }
    .headline{
        flex-direction: column;
    }
    .headline-image{
        transform: scale(1);
    }
    .logo-container{
        display: none;
    }

    .populer-items{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .cert{
        flex-direction: column;
    }

}